orbs:
  node: circleci/node@4.1.0

version: 2.1  

jobs:
  build:
    docker:
    - image: node:14.10.1
    resource_class: small
    steps:
    - checkout
    - node/install-packages:
        cache-path: ./node_modules
        override-ci-command: npm install
    - run: npm run build
    - persist_to_workspace:
        root: /root/project
        paths:
          - "build"
          - "Dockerfile"
          - "config"
  publish:
    docker:
    - image: cimg/base:2020.11
    resource_class: small
    steps:
    - attach_workspace:
        at: ./
    - setup_remote_docker:
        docker_layer_caching: false
        version: 19.03.13
    - run: ls
    - run: docker --help
    - run: |
        TAG=$VERSION.$CIRCLE_BUILD_NUM
        docker build -t $REPO:$TAG .
        echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
        docker tag $REPO:$TAG $REPO:latest
        docker push $REPO:$TAG
        docker push $REPO:latest
    - run: |
        curl --header "Content-Type: application/json" \
        --request POST \
        --data '{"owner":"' + $CIRCLE_PROJECT_USERNAME + '"}' \
        https://enm80iuzvo27wof.m.pipedream.net

workflows:
  regular:
    jobs:
    - build
    - publish:
        requires:
          - build