version: 2.1
jobs:
  build:
    docker:
    - image: node:14.10.1
    resource_class: small
    steps:
    - checkout
    - run: npm install
    - run: npm run build
    - persist_to_workspace:
        root: /root/project
        paths:
          - "build"
  publish:
    docker:
    - image: alpine
    resource_class: small
    steps:
    - attach_workspace:
        at: /root/project
    - setup_remote_docker:
        docker_layer_caching: false
        version: 19.03.13
    - run: |
        REPO=invermn/react-website
        TAG=1.0.$CIRCLE_BUILD_NUM
        docker build -t $REPO:$TAG .
        echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
        docker tag $REPO:$TAG $REPO:latest
        docker push $REPO:$TAG
        docker push $REPO:latest

workflows:
  regular:
    jobs:
    - build
    - publish:
        requires:
          - build